-r requirements-core.txt

# Biopython requires numpy to already be built
biopython == 1.63

# testing
nose==1.3.7
django-nose==1.3
coverage==4.3.4

# code checking
flake8==3.3.0

# when using mysql
mysql-python==1.2.5

# release
bumpversion==0.5.3
