Left: {{ primer.PRIMER_LEFT_SEQUENCE }} ({{ primer.PRIMER_LEFT_GC_PERCENT }} GC, {{ primer.PRIMER_LEFT_TM }} Tm<span ng-if="primer.PRIMER_LEFT_SEQUENCE_DISTANCE_TO_JUNCTION">, {{ primer.PRIMER_LEFT_SEQUENCE_DISTANCE_TO_JUNCTION }} bps to junction</span>)
<br/>
Right: {{ primer.PRIMER_RIGHT_SEQUENCE }} ({{ primer.PRIMER_RIGHT_GC_PERCENT }} GC, {{ primer.PRIMER_RIGHT_TM }} Tm<span ng-if="primer.PRIMER_RIGHT_SEQUENCE_DISTANCE_TO_JUNCTION">, {{ primer.PRIMER_RIGHT_SEQUENCE_DISTANCE_TO_JUNCTION }} bps to junction</span>)
