<div class="row">

<!-- left -->
<div class="col-md-7">
    <div ng-include="'partials/fragment-left.html?v=342'"></div>
</div>
<!-- left -->

<!-- right -->
<div class="col-md-5">

<ul class="nav nav-tabs" id="fragment-tab">
    <li><a href="#annotations" data-toggle="tab">Annotations</a></li>
</ul>

<script>
$('#fragment-tab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
});
$('#fragment-tab a:first').tab('show');
</script>

<div class="tab-content">

<div class="tab-pane active" id="annotations">
    <div ng-include="'partials/fragment-annotation-list.html'"></div>
</div>

</div> <!-- tab-content -->

</div> <!-- right -->

</div> <!-- row -->
