<div ng-controller="GenomeOpController">
<div ng-controller="GenomeOpWithFragmentController">

<p>
<span class="lead">Insert Fragment</span> (creates new genome)
</p>

<div class="well" ng-show="op_error">
    <span class="text-danger">Error: {{ op_error.message }}</span>
</div>

<form role="form">
    <div class="form-inline">
        Insert prior to
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="op.before_bp" size="5"
             placeholder="bp" />
        </div>
        fragment
        <div class="form-group">
            <select ng-model="op.fragment_id" class="form-control select-mini">
                <option ng-repeat="fragment in fragments | orderBy:orderProp" value="{{ fragment.id }}">
                    {{ fragment.name }}
                </option>
            </select>
        </div>
        to create
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="op.name" size="20"
             placeholder="New genome name" />
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" ng-click="doOp('insert_fragment', op)">Submit</button>
</form>

</div> <!-- GenomeOpWithFragmentController -->
</div> <!-- GenomeOpController -->

