{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="edge">
<head>
    <meta charset="utf-8">
    <title>Edge</title>
    <!-- jquery -->
    <script src="{% static 'edge/lib/jquery/dist/jquery.min.js' %}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'edge/lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'edge/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- angular -->
    <script src="{% static 'edge/lib/angular/angular.min.js' %}"></script>
    <script src="{% static 'edge/lib/angular-route/angular-route.min.js' %}"></script>
    <script src="{% static 'edge/lib/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <!-- underscore -->
    <script src="{% static 'edge/lib/underscore/underscore.js' %}"></script>
    <!-- svjs -->
    <script src="{% static 'edge/lib/svjs/svjs.js' %}"></script>
    <link rel="stylesheet" href="{% static 'edge/lib/svjs/svjs.css' %}">
    <!-- compiled assets -->
    <script src="{% static 'edge/assets/edge_jst.js' %}"></script>
    <script src="{% static 'edge/assets/edge.js' %}"></script>
    <link rel="stylesheet" href="{% static 'edge/assets/edge.css' %}">
</head>
<body>

<div ng-view></div>

</body>
</html>
