<div class="row">

<!-- left -->
<div class="col-md-7">
    <partial template="fragment-left"></partial>
</div>
<!-- left -->

<!-- right -->
<div class="col-md-5">

<ul class="nav nav-tabs" id="fragment-tab">
    <li><a href="#annotations" data-toggle="tab">Annotations</a></li>
    <li><a href="#insert-bases" data-toggle="tab">Insert</a></li>
    <li><a href="#remove-bases" data-toggle="tab">Remove</a></li>
    <li><a href="#replace-bases" data-toggle="tab">Replace</a></li>
</ul>

<div class="tab-content">

<div class="tab-pane" id="annotations">
    <partial template="fragment-annotation-list"></partial>
</div>

<div class="tab-pane" id="insert-bases">
    <partial template="op-insert-bases"></partial>
    <div class="space-top">
        <partial template="op-insert-fragment"></partial>
    </div>
</div>

<div class="tab-pane" id="remove-bases">
    <partial template="op-remove-bases"></partial>
</div>

<div class="tab-pane" id="replace-bases">
    <partial template="op-replace-bases"></partial>
    <div class="space-top">
        <partial template="op-replace-with-fragment"></partial>
    </div>
</div>

</div> <!-- tab-content -->

</div> <!-- right -->

</div> <!-- row -->
