<header>
  <div class="container">
    <ol class="breadcrumb">
        <li> Edge </li>
        <li> <a href="#/genomes">Genomes</a> </li>
        <li> {{ genome.name }} </li>
    </ol>
  </div>
</header>

<div class="container">

<h3>Genome {{ genome.id }}: {{ genome.name }}</h3>

<div class="lead space-top">
    <p>Parent: <span ng-bind-html-unsafe="parent"></span></p>
    <p>Notes: {{ genome.notes }} </p>
    <p>Changes:</p>
    <ul><li ng-repeat='change in changes'>{{ change }}</li></ul>
</div>

<table class="table table-striped table-condensed space-top">
<thead><tr>
    <th>Fragment</th><th>Length (bps)</th><th>Changes</th>
</tr></thead>
<tr ng-repeat="fragment in genome.fragments | orderBy:id">
    <td> <a href="#/genomes/{{genome.id}}/fragments/{{fragment.id}}">{{ fragment.name }}</a> </td>
    <td>
      <span ng-if='fragment.length'>{{fragment.length | number}}</span>
      <span ng-if='!fragment.length'><em>Not indexed</em></span>
    </td>
    <td>
      <span ng-repeat='locs in fragment.changes'>{{ locs }}</span>
    </td>
</tr>
</table>

</div> <!-- container -->

