<header>
  <div class="container">
    <ol class="breadcrumb">
        <li> Edge </li>
        <li> <a href="#/genomes">Genomes</a> </li>
        <li> <a href="#/genomes/{{ genome.id }}"><span ng-bind-html-unsafe='genome.name'></span></a> </li>
        <li> Recombination </li>
    </ol>
  </div>
</header>

<div class="container">

<h3>Recombination on Genome {{ genome.id }}: <span ng-bind-html-unsafe='genome.name'></span></h3>

<form role="form" class="space-top">
    <div class="form-inline">
        Homology arm length
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="homology_arm_length" size="5" />
        </div>
        New genome name
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="new_genome_name" size="20" />
        </div>
    </div>
    Cassette (including homology arms)
    <br/>
    <textarea class="form-control sequence" ng-model="cassette"></textarea>
    <button class="btn btn-primary" ng-click="FindRegions()">Preview</button>
</form>

<div ng-if="waiting === true">
  <p>
    <br/>
    <em>Waiting for server to respond ...</em>
    <br/>
  </p>
</div>

<div ng-if="regions !== undefined" class="results">
    <p ng-if="regions.length === 0"><em>No matching region</em></p>
    <ul ng-if="regions.length > 0">
        <li ng-repeat="region in regions">
            <p>
                Found homology region on fragment {{ region.fragment_name }}:
                {{ region.start }}-{{ region.end }} bps
            </p>
            <div ng-if="region.verification_front.length > 0" class="primers">
                <p>
                    PCR primers to verify 5' junction
                    <br/>
                    (product on modified genome only, no product on WT)
                </p>
                <ul>
                    <li ng-repeat='primer in region.verification_front'><partial template='primer' /></li>
                </ul>
            </div>
            <div ng-if="region.verification_back.length > 0" class="primers">
                <p>
                    PCR primers to verify 3' junction
                    <br/>
                    (product on modified genome only, no product on WT)
                </p>
                <ul>
                    <li ng-repeat='primer in region.verification_back'><partial template='primer' /></li>
                </ul>
            </div>
            <div ng-if="region.verification_cassette.length > 0" class="primers">
                <p>
                    PCR primers to verify whole cassette
                    <br/>
                    (product on modified genome and WT)
                </p>
                <ul>
                    <li ng-repeat='primer in region.verification_cassette'><partial template='primer' /></li>
                </ul>
            </div>
        </li>
    </ul>
    <p ng-if="regions.length === 1">
      <button class="btn btn-primary" ng-click="Recombine()">Create post-recombination genome</button>
    </p>
</div>

</div>
