<div ng-controller="GenomeOpController">

<p>
<span class="lead">Remove Bases</span> (creates new genome)
</p>

<div class="well" ng-show="op_error">
    <span class="text-danger">Error: {{ op_error.message }}</span>
</div>

<form role="form">
    <div class="form-inline">
        Starting at
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="op.before_bp" size="5"
             placeholder="bp" />
        </div>
        remove
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="op.length" size="5"
             placeholder="bases" />
        </div>
        to create
        <div class="form-group">
            <input required class="form-control" type="text" ng-model="op.name" size="20"
             placeholder="New genome name" />
        </div>
    </div>
    <br/>
    <button class="btn btn-primary" ng-click="doOp('remove_bases', op)">Submit</button>
</form>

{{ op }}

</div> <!-- GenomeOpController -->

